# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Supabase
supabase/.temp/
supabase/.branches/
supabase/.env

# IDEs
.idea/
.vscode/
.DS_Store

# Node
node_modules/

# Logs
*.log
