# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
**/build/
flutter_*.log
.dart_tool_gen/

# Supabase
supabase/.temp/
supabase/.branches/

# Node/TypeScript
node_modules/
*.log

# MacOS
.DS_Store

# Env files
*.env
supabase/.secrets/
apps/web_flutter/.env
apps/web_flutter/.env.*
.vercel/
apps/web_flutter/.flutter-plugins*
apps/web_flutter/.dart_tool/
apps/web_flutter/.metadata
apps/web_flutter/.packages
.env.local

# IDE
.vscode/
.idea/
*.iml
.vercel
