# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.log
.dart_tool_gen/

# Supabase
supabase/.temp/
supabase/.branches/

# Node/TypeScript
node_modules/
*.log

# MacOS
.DS_Store

# Env files
*.env
supabase/.secrets/
apps/web_flutter/.env
apps/web_flutter/.env.*

# IDE
.vscode/
.idea/
*.iml

